{{ form_start(form, {'attr': {'class': 'form-modern', 'novalidate': 'novalidate'}}) }}

<div class="row g-4">
    <div class="col-12">
        <div class="form-group-modern">
            {{ form_label(form.user, null, {'label_attr': {'class': 'form-label-modern required'}}) }}
            {{ form_widget(form.user, {'attr': {'class': 'form-select-modern form-control-modern'}}) }}
            {{ form_errors(form.user) }}
            <div class="form-text-modern">
                <i class="bi bi-person me-1"></i>
                Sélectionnez l'utilisateur qui deviendra moniteur
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <button type="submit" class="btn btn-modern-primary" style="min-width: 200px;">
        <i class="bi bi-check-circle me-2"></i>{{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}