{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionMax</th>
                <th>Prix</th>
                <th>Infos</th>
                <th>IsPublished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.titre }}</td>
                <td>{{ sortie.date ? sortie.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}min</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.prix }}€</td>
                <td>{{ sortie.infos }}</td>
                <td>{{ sortie.isPublished ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_sortie_new') }}">Create new</a>
    {% endif %}
{% endblock %}
