{% extends 'base.html.twig' %}

{% block title %}Sortie {{ sortie.titre }}{% endblock %}

{% block body %}
    <h1>Sortie {{ sortie.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ sortie.titre }}</td>
            </tr>
            {% if sortie.moniteur is not null %}
            <tr>
                <th>Moniteur</th>
                <td>{{ sortie.moniteur.user.prenom }} {{ sortie.moniteur.user.nom }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Date</th>
                <td>{{ sortie.date ? sortie.date|date('d-m-Y H:i:s') : ''  }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y H:i:s') : ''  }}</td>
            </tr>
            <tr>
                <th>Nombre maximum d'inscriptions</th>
                <td>{{ sortie.participants|length + sortie.membresFamilleInscrits|length }}/{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <th>Niveaux admis</th>
            <td>
                {% for niveau in sortie.niveauxAdmis %}
                    {{ niveau.libelle }}{% if not loop.last %}, {% endif %}
                {% else %}
                    Aucun niveau spécifié.
                {% endfor %}
            </td>
            </tr>
            <tr>
            <tr>
                <th>Prix</th>
                <td>{{ sortie.prix }} €</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ sortie.infos }}</td>
            </tr>
            <tr>
                <th>État de la sortie</th>
                <td><p class="border rounded
                        {% if sortie.etat.libelle == 'Créée' %}
                            border-warning
                        {% elseif sortie.etat.libelle == 'Ouverte' %}
                            border-success
                        {% elseif sortie.etat.libelle == 'Clôturée' %}
                            border-info
                        {% elseif sortie.etat.libelle == 'En cours' %}
                            border-primary
                        {% elseif sortie.etat.libelle == 'Passée' %}
                            border-secondary
                        {% else %}
                            border-danger
                        {% endif %}">{{ sortie.etat.libelle }}</p></td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Sortie publié</th>
                <td>{{ sortie.isPublished ? 'Oui' : 'Non' }}</td>
            </tr>

                <tr>
                    <th>Participants</th>
                    <td>
                        {% if sortie.participants is empty and sortie.membresFamilleInscrits is empty %}
                            Aucun participant inscrit pour le moment.
                        {% else %}
                            {% for participant in sortie.participants %}
                                {{ participant.prenom }} {{ participant.nom }} (Utilisateur)<br>
                            {% endfor %}

                            {% for membre in sortie.membresFamilleInscrits %}
                                {{ membre.prenom }} {{ membre.nom }} (Membre de famille)<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

        </tbody>
    </table>

    <a href="{{ path('app_sortie_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {% if not sortie.participants.contains(app.user) %}
            <a href="{{ path('sortie_inscription', { id: sortie.id }) }}" class="btn btn-primary">S'inscrire</a>
        {% else %}
            <a href="{{ path('sortie_desinscription', { id: sortie.id }) }}" class="btn btn-warning">Se désinscrire</a>
        {% endif %}
    {% endif %}

    {% if app.user.famille.membre|length > 0 %}
        <a href="{{ path('sortie_inscription_famille', { id: sortie.id }) }}" class="btn btn-outline-primary mt-2">
            Inscrire/Désinscrire un membre de ma famille
        </a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('sortie/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
