{% extends 'base.html.twig' %}

{% block title %}Sortie {{ sortie.titre }}{% endblock %}

{% block body %}
    <h1>Sortie {{ sortie.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ sortie.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sortie.date ? sortie.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre maximum d'inscriptions</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ sortie.prix }}</td>
            </tr>
            <tr>
                <th>Informations</th>
                <td>{{ sortie.infos }}</td>
            </tr>
            <tr>
                <th>État de la sortie</th>
                <td><p class="border rounded
                        {% if sortie.etat.libelle == 'Créée' %}
                            border-warning
                        {% elseif sortie.etat.libelle == 'Ouverte' %}
                            border-success
                        {% elseif sortie.etat.libelle == 'Clôturée' %}
                            border-info
                        {% elseif sortie.etat.libelle == 'En cours' %}
                            border-primary
                        {% elseif sortie.etat.libelle == 'Passée' %}
                            border-secondary
                        {% else %}
                            border-danger
                        {% endif %}">{{ sortie.etat.libelle }}</p></td>
            </tr>
            {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <tr>
                <th>Sortie publié</th>
                <td>{{ sortie.isPublished ? 'Oui' : 'Non' }}</td>
            </tr>

                <tr>
                    <th>Participants</th>
                    <td>
                        {% for participant in sortie.participants %}
                            {{ participant.nom }}<br>
                        {% else %}
                            <em>Aucun participant</em>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

        </tbody>
    </table>

    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {% if not sortie.participants.contains(app.user) %}
            <a href="{{ path('sortie_inscription', { id: sortie.id }) }}" class="btn btn-primary">S'inscrire</a>
        {% else %}
            <a href="{{ path('sortie_desinscription', { id: sortie.id }) }}" class="btn btn-warning">Se désinscrire</a>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('sortie/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
