{% extends 'base.html.twig' %}
{% block javascripts %}

    <script>
        document.addEventListener('turbo:load', function() {
            // Désactiver Turbo pour cette page
            Turbo.session.drive = false;
        });
    </script>
{% endblock %}
{% block title %}Liste des compétitions{% endblock %}

{% block body %}
    <h1>Liste des compétitions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>PrixTransport</th>
                <th>PrixEpreuve</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competition in competitions %}
            <tr>
                <td>{{ competition.titre }}</td>
                <td>{{ competition.dateDebut ? competition.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ competition.dateFin ? competition.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ competition.prixTransport }}</td>
                <td>{{ competition.prixEpreuve }}</td>
                <td>{{ competition.description }}</td>
                <td>
                    <a href="{{ path('app_competition_show', {'id': competition.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_competition_edit', {'id': competition.id}) }}">Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune compétition trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_competition_new') }}">Créer une nouvelle compétition</a>
    {% endif %}
{% endblock %}
