{% extends 'base.html.twig' %}

{% block title %}Cheval{% endblock %}

{% block body %}
    <h1>Profil de {{ cheval.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Photo</th>
                <td>
                    {% if cheval.photo != null %}
                        <img src="{{ asset('uploads/chevaux/' ~ cheval.photo) }}" alt="{{ cheval.nom }}">
                    {% else %}
                        <img src="{{ asset('uploads/utilisateurs/logo.avif') }}" alt="photo par défaut">

                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cheval.nom }}</td>
            </tr>
            <tr>
                <th>Nom du Père</th>
                <td>{{ cheval.nomPere }}</td>
            </tr>
            <tr>
                <th>Nom de la Mère</th>
                <td>{{ cheval.nomMere }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ cheval.sexe.libelle }}</td>
            </tr>
            <tr>
                <th>Date de Naissance</th>
                <td>{{ cheval.dateNaissance ? cheval.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu de Naissance</th>
                <td>{{ cheval.lieuNaissance }}</td>
            </tr>
            {% if not null %}
            <tr>
                <th>Informations</th>
                <td>{{ cheval.infos }}</td>
            </tr>
            {% endif %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <tr>
                <th>Cheval de club</th>
                <td>{{ cheval.appartientEcurie ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>À Vendre</th>
                <td>{{ cheval.aVendre ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Vendu</th>
                <td>{{ cheval.vendu ? 'Oui' : 'Non' }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_cheval_index') }}">Retour à la liste</a>
    {% if (app.user and cheval.user and app.user.id == cheval.user.id) or (app.user and 'ROLE_ADMIN' in app.user.roles) %}
        <a href="{{ path('app_cheval_edit', {'id': cheval.id}) }}">Modifier</a>
    {% endif %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {{ include('cheval/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
