<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Écurie Des 4 Routes{% endblock %}</title>

    {# Bloc pour les feuilles de styles. Bootstrap est inclus via CDN #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    {% endblock %}

    {# Bloc pour les scripts JavaScript. #}
    {% block javascripts %}
        {{ importmap() }}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body class="d-flex flex-column">
<header>
    <div class="container">
        {% include '_navbar.html.twig' %}
    </div>
</header>

<main class="flex-grow-1">
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

<footer>
    <div class="container">
        &copy; {{ "now"|date("Y") }} - Écurie Des 4 Routes
    </div>
</footer>

{% block extraJs %}{% endblock %}
</body>
</html>