{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur {{ user.nom }} {{ user.prenom }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    {% else %}
        <a href="{{ path('index') }}">Retour à l'acceuil</a>
    {% endif %}

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
