{% extends 'base.html.twig' %}


{% block title %}Profil de {{ user.prenom }} {{ user.nom }}{% endblock %}

{% block body %}
    <h1>Profil de {{ user.prenom }} {{ user.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Photo</th>
                    <td>
                    {% if user.photo != null %}
                        <img src="{{ asset('uploads/utilisateurs/' ~ user.photo) }}" alt="{{ user.prenom }}">
                    {% else %}
                        <img src="{{ asset('uploads/utilisateurs/logoED4R_redimension.png') }}" alt="photo par défaut">

                {% endif %}
            </td>

        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ user.prenom }}</td>
        </tr>
        <tr>
            <th>Date de Naissance</th>
            <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ user.adresse }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ user.telephone }}</td>
        </tr>

        <tr>
            <th>Téléphone de la personne à contacter</th>
            <td>{{ user.telPersContact }}</td>
        </tr>
        <tr>
            <th>Allergies</th>
            <td>{{ user.allergies }}</td>
        </tr>
        <tr>
            <th>Médecin Traitant</th>
            <td>{{ user.medecinTraitant }}</td>
        </tr>
        <tr>
            <th>Téléphone Médecin</th>
            <td>{{ user.telMedecin }}</td>
        </tr>
        <tr>
            <th>Droit à l'Image</th>
            <td>{{ user.droitImage ? 'Oui' : 'Non' }}</td>
        </tr>
        <tr>
            <th>Informations</th>
            <td>{{ user.infos }}</td>
        </tr>
        <tr>
            <th>
                Famille
            </th>
            <td>
                {% if app.user and app.user.famille %}
                    <div class="alert alert-success">
                        Famille créée automatiquement️ ID : {{ app.user.famille.id }}
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucune famille liée à l'utilisateur.
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Bouton famille</th>
            <td>
                {% if app.user and app.user.famille %}
                    <a href="{{ path('app_membre_famille_index') }}" class="btn btn-primary">
                        Voir les membres de ma famille
                    </a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    {% else %}
        <a href="{{ path('index') }}">Retour à l'acceuil</a>
    {% endif %}

    {% if app.user and app.user.id == user.id or 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
        {{ include('user/_delete_form.html.twig') }}
        <a href="{{ path('historique_index') }}" class="btn btn-outline-secondary mt-2">
            🔎 Voir mon historique de paiements
        </a>
    {% endif %}
{% endblock %}
